@using DotFramework.Web.Mvc.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Write Features";
    ViewBag.BodyClass = "features";   
}
<div class="row loginMessage span12">
       <a  class="plainRed"  data-toggle="modal" href="#LoginPopUp">Login</a> or  <a data-toggle="modal" href="#RegisterPopUp" class="plainRed">Sign Up</a> to begin your story.
</div>
<div class="row span12">
    <div class="span4 well">
        <img  class="polaroid" src="/Content/img/write_screenshot.png" />
        <h2>Write from anywhere.</h2>
        <h4>Creative sparks are unpredictable.</h4>
        <p>Don't be caught without a pen and paper. Access your drafts from any device at any time. No more hassle of emailing copies of your stories to yourself!</p>
    </div>
    <div class="span4 well">
        <img src="/Content/img/sell_screenshot.png"/>
        <h2>Sell directly to readers.</h2>
        <h4>Cut out the middleman entirely.</h4>
        <p>Set your price and start selling right away. No red tape, and no publishers dampening your creativity. Monitor your sales and adjust your campaign through a single interface.</p>
    </div>
    <div class="span4 well">
        <img src="/Content/img/web_connect.png"/>
        <h2>Connect and Interact.</h2>
        <h4>Instant feedback from fans and critics.</h4>
        <p>Learn what your fans love and what your critics hate. Get inspired from discussions between readers and take your stories in new directions never before possible.</p>
    </div>
    
   
</div>
 <div class="clearfix"></div>
